.main-container{
    .sidebar-container{
        background-color: white;
        height: 100vh;
        
        .sidebar-navbar{
            background-color: black;
            height: 100vh;
            padding: 20px;

            .svg-container{
                aspect-ratio: 1;
                background-color: black;
                border-radius: 50%;
                padding: 7px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                svg{
                    width: 17px;
                }

                &:hover{
                    background-color: #333;
                }

            }.active{
                background-color: #333;
            }
            
        }

        .sidebar-menu{
            height: 100%;
            background-color: white;
            padding: 20px;

            h1{
                margin: auto 0;
            }

            .plus-container{
                background-color: #e4e4e4;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                cursor: pointer;

                svg{
                    width: 20px;
                }
            }

            .menu-items{
                border-left: 3px solid #e4e4e4;
                color: #777;
                font-size: clamp(0.8rem,calc(0.4rem + 2vw), 0.9rem);

                .menu-item{
                    position: relative;
                    z-index: 1;

                    a{
                        margin:0 20px;
                        padding: 7px 15px;
                        background-color: white;
                        border-radius: 30px;

                        &:hover{
                            background-color: #f0f0f0;
                            font-weight: 700;
                            color: #333;
                        }
                    }.active{
                        background-color: #f0f0f0;
                        font-weight: 700;
                        color: #333;
                    }

                    &::before{
                        content: "";
                        position: absolute;
                        left: 0%;
                        top: 50%;
                        transform: translate(0%,-50%);
                        background-color: #e4e4e4;
                        height: 2px;
                        width: 7%;
                        z-index: -1;
                    }
                }
            }
        }
    }
}